<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/2.0.7/js/dataTables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/2.0.8/js/dataTables.bootstrap5.js"></script>
<script>
    new DataTable('#example');


// code for form submit 
   var userform=document.getElementById('userform')
   var userformsubmit=document.getElementById('user-form-submit')
   userformsubmit.addEventListener('click',()=>{
    userform.submit()
   })

//    particular row delete in a form table

var deletebtn=getElementById('delete-btn')
deletebtn.addEventListener('click',()=>{
    
})

</script> 
</body>
</html>